dist
npm/dist
/target
/vendor
node_modules
Thumbs.db
.DS_Store
.SpotlightV100
.Spotlight-V100
.Trashes
.idea
.vscode
.cache
.deno
.npm
.npmrc
.pnp.*
.pnpm-lock.yaml
*-lock.*
*.lock
*.lockb
*.log
*.env*
*.swp
*.swo
*.swn
*.lock
*.*workspace
*.tgz
*.zip
*.tar.gz
